.user {
  display: flex;
  align-items: flex-start;
  margin-bottom: 33px;
  flex-direction: column;
}

.user__name {
  @include b-s20-h23;

  margin-left: 30px;

  span {
    display: inline-block;

    vertical-align: middle;
  }
}
.info__group {
  display: flex;
  align-items: center;
}
.user__phone {
  font-weight: 700;
  span {
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
  }
}

.user__button {
  display: inline-block;

  cursor: pointer;
  vertical-align: middle;
}
